.title{
    border:solid;
    background-color: aquamarine;
}

.step1{
    background-color: cadetblue;
}

.header{
    background-color: rgb(144, 190, 192);
    display:flex;
    justify-content:left;
}

body{
    background-color: rgb(187, 231, 233);
}